@model OzElectric_EmployeeManagement.Models.Job

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Job</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Job Number:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobNumber)
            </dd>

            <dt>
                Job Name:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobName)
            </dd>

            <dt>
                Foreman:
            </dt>

            <dd>
                @if (Model.Foremen.Count > 0)
                {
                    foreach (var foreman in Model.Foremen)
                    {
                        <p><a href="@Url.Action("Details", "Foremen", new { id = foreman.ForemanID })" class="Button">@Html.DisplayFor(modelItem => foreman.FirstName)  @Html.DisplayFor(modelItem => foreman.LastName)</a></p>
                    }
                }
            </dd>



            <dt>
                Contractor:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GenContractor.Name)
            </dd>

            <dt>
                Project Manager:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PM.FullName)
            </dd>

            <dt>
                Purchaser:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Purchaser.Name)
            </dd>

            <dt>
                Site Super:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SiteSuper.Name)
            </dd>

            <dt>
                Location:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LocationName)
            </dd>

            <dt>
                Address:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                City:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                Province/State:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProvinceOrState)
            </dd>

            <dt>
                Contractor Contact:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GenContractorContact)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> 
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
            </div>
        }
    </div>