@model OzElectric_EmployeeManagement.Models.Job

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
    <div>
        <h4>Job</h4>
        <hr />
        <dl class="dl-horizontal">
            
            <dt>
                Job Number:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobNumber)
            </dd>

            <dt>
                Job Name:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobName)
            </dd>

            <dt>

            <dt>
                Location:
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LocationName)
            </dd>
    
            <dt>
                Address:
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
    
            <dt>
                City:
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
    
            <dt>
                Province:
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProvinceOrState)
            </dd>

            <dt>
                Foreman:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Foreman.FullName)
            </dd>

            <dt>
                Contractor:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GenContractor.Name)
            </dd>

            <dt>
                Contractor Contact:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GenContractorContact)
            </dd>

            <dt>
                Project Manager:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PM.FullName)
            </dd>

            <dt>
                Purchaser:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Purchaser.Name)
            </dd>

            <dt>
                Site Super:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SiteSuper.Name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.JobID }, new { @class = "btn btn-default" }) |
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </p>