@model IEnumerable<OzElectric_EmployeeManagement.Models.Job>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<h2>Jobs</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>
            @Html.ActionLink("Job Number", "Index", new { sortOrder = ViewBag.JobNumberSortParm })
        </th>
        <th>
            @Html.ActionLink("Job Name", "Index", new { sortOrder = ViewBag.JobNameSortParm })
        </th>
        <th>
            @Html.ActionLink("Foreman", "Index", new { sortOrder = ViewBag.ForemanSortParm })
        </th>
        <th>
            @Html.ActionLink("Project Manager", "Index", new { sortOrder = ViewBag.PMSortParm })
        </th>
        <th>
            @Html.ActionLink("Address", "Index", new { sortOrder = ViewBag.AddressSortParm })
        </th>
        <th>
            @Html.ActionLink("City", "Index", new { sortOrder = ViewBag.CitySortParm })
        </th>
        <th>
            @Html.ActionLink("Province/State", "Index", new { sortOrder = ViewBag.ProvinceOrStateSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobName)
        </td>
        <td>
            <a href="@Url.Action("Details", "Foremen", new { id = item.Foreman_ForemanID })" class="Button">@Html.DisplayFor(modelItem => item.Foreman.FullName)</a>
        </td>
        <td>
            <a href="@Url.Action("Details", "PMs", new { id = item.PM_PMID })" class="Button" >@Html.DisplayFor(modelItem => item.PM.FullName)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvinceOrState)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.JobID }, new { @class = "btn btn-warning" }) 
            @Html.ActionLink("Details", "Details", new { id = item.JobID }, new { @class = "btn btn-primary" })      
            <a href="@Url.Action("Delete",new { id = item.JobID })" class="btn btn-danger"><span class="fa fa-trash-o fa-lg" aria-hidden="true"></span></a>      
        </td>
    </tr>
    }
</table>