@model IEnumerable<OzElectric_EmployeeManagement.Models.Job>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<h2>Jobs</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>
           Foreman
        </th>
        <th>
            Contractor
        </th>
        <th>
            Project Manager
        </th>
        <th>
            Purchaser
        </th>
        <th>
            Site Super
        </th>
        <th>
            Location
        </th>
        <th>
            Address
        </th>
        <th>
            City
        </th>
        <th>
            Province
        </th>
        <th>
            Contractor Contact
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            <a href="@Url.Action("Details", "Foremen", new { id = item.Foreman_ForemanID })" class="Button">@Html.DisplayFor(modelItem => item.Foreman.FullName)</a>
        </td>
        <td>
            <a href="@Url.Action("Details", "GenContractors", new { id = item.GenContractor_GenContractorID })" class="Button">@Html.DisplayFor(modelItem => item.GenContractor.Name)</a>
        </td>
        <td>
            <a href="@Url.Action("Details", "PMs", new { id = item.PM_PMID })" class="Button" >@Html.DisplayFor(modelItem => item.PM.FullName)</a>
        </td>
        <td>
            <a href="@Url.Action("Details", "Purchasers", new { id = item.Purchaser_PurchaserID })" class="Button">@Html.DisplayFor(modelItem => item.Purchaser.Name)</a>
        </td>
        <td>
            <a href="@Url.Action("Details", "SiteSupers", new { id = item.SiteSuper_SiteSuperID })" class="Button">@Html.DisplayFor(modelItem => item.SiteSuper.Name)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Province)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenContractorContact)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.JobID }, new { @class = "btn btn-primary" }) | 
            <a href="@Url.Action("Delete",new { id = item.JobID })" class="btn btn-danger"><span class="fa fa-trash-o fa-lg" aria-hidden="true"></span></a>

           <!-- @Html.ActionLink("Details", "Details", new { id = item.JobID }, new { @class = "btn btn-primary" }) | -->
            
        </td>
    </tr>
    }
</table>