@model IEnumerable<OzElectric_EmployeeManagement.Models.Job>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<h2>Index</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Foreman.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenContractor.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PM.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Purchaser.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteSuper.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Province)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenContractorContact)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Foreman.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenContractor.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PM.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Purchaser.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteSuper.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Province)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenContractorContact)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.JobID }) |
            @Html.ActionLink("Details", "Details", new { id = item.JobID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.JobID })
        </td>
    </tr>
    }
</table>