@model OzElectric_EmployeeManagement.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Employee Number:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeNumber)
        </dd>

        <dt>
            First Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Last Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Address:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            City:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            Province/State:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvinceOrState)
        </dd>

        <dt>
            Home Phone #:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomePhone)
        </dd>

        <dt>
            Home Cell #:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeCellPhone)
        </dd>

        <dt>
            Work Phone #:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkPhone)
        </dd>

        <dt>
            Work Cell #:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkCellPhone)
        </dd>

        <dt>
            Emergency Contact Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyContactName)
        </dd>

        <dt>
            Emergency Contact #:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyContactPhone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeID }, new { @class = "btn btn-warning" })
    <a href="@Url.Action("Index")" class="btn btn-primary">Back To List</a>
</p>
