@model OzElectric_EmployeeManagement.Models.Employee

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Employee: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EmployeeID)

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeNumber, "Employee Number:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmployeeNumber, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.EmployeeNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, "First Name:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, "Last Name:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, "Address:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, "City:",  htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProvinceOrState, "Province/State:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ProvinceOrState,
                    new SelectList(new[] {
                    //Provinces
                    new {Key="ONTARIO", Value="ON"},
                    new {Key="ALBERTA", Value="AB"},
                    new {Key="BRITISH COLUMBIA", Value="BC"},
                    new {Key="MANITOBA", Value="MB"},
                    new {Key="NEW BRUNSWICK", Value="NB"},
                    new {Key="NEWFOUNDLAND AND LABRADOR", Value="NL"},
                    new {Key="NORTHWEST TERRITORIES", Value="NT"},
                    new {Key="NOVA SCOTIA", Value="NS"},
                    new {Key="NUNAVUT", Value="NU"},
                    new {Key="PRINCE EDWARD ISLAND", Value="PE"},
                    new {Key="QUEBEC", Value="QC"},
                    new {Key="SASKATCHEWAN", Value="SK"},
                    new {Key="YUKON", Value="YT"},
                    //States
                    new {Key="Alabama", Value="AL"},
                    new {Key="Alaska", Value="AK"},
                    new {Key="Arizona", Value="AZ"},
                    new {Key="Arkansas", Value="AR"},
                    new {Key="California", Value="CA"},
                    new {Key="Colorado", Value="CO"},
                    new {Key="Connecticut", Value="CT"},
                    new {Key="Delaware", Value="DE"},
                    new {Key="District Of Columbia", Value="DC"},
                    new {Key="Florida", Value="FL"},
                    new {Key="Georgia", Value="GA"},
                    new {Key="Hawaii", Value="HI"},
                    new {Key="Idaho", Value="ID"},
                    new {Key="Illinois", Value="IL"},
                    new {Key="Indiana", Value="IN"},
                    new {Key="Iowa", Value="IA"},
                    new {Key="Kansas", Value="KS"},
                    new {Key="Kentucky", Value="KY"},
                    new {Key="Louisiana", Value="LA"},
                    new {Key="Maine", Value="ME"},
                    new {Key="Maryland", Value="MD"},
                    new {Key="Massachusetts", Value="MA"},
                    new {Key="Michigan", Value="MI"},
                    new {Key="Minnesota", Value="MN"},
                    new {Key="Mississippi", Value="MS"},
                    new {Key="Missouri", Value="MO"},
                    new {Key="Montana", Value="MT"},
                    new {Key="Nebraska", Value="NE"},
                    new {Key="Nevada", Value="NV"},
                    new {Key="New Hampshire", Value="NH"},
                    new {Key="New Jersey", Value="NJ"},
                    new {Key="New Mexico", Value="NM"},
                    new {Key="New York", Value="NY"},
                    new {Key="North Carolina", Value="NC"},
                    new {Key="North Dakota", Value="ND"},
                    new {Key="Ohio", Value="OH"},
                    new {Key="Oklahoma", Value="OK"},
                    new {Key="Oregon", Value="OR"},
                    new {Key="Pennsylvania", Value="PA"},
                    new {Key="Rhode Island", Value="RI"},
                    new {Key="South Carolina", Value="SC"},
                    new {Key="South Dakota", Value="SD"},
                    new {Key="Tennessee", Value="TN"},
                    new {Key="Texas", Value="TX"},
                    new {Key="Utah", Value="UT"},
                    new {Key="Vermont", Value="VT"},
                    new {Key="Virginia", Value="VA"},
                    new {Key="Washington", Value="WA"},
                    new {Key="West Virginia", Value="WV"},
                    new {Key="Wisconsin", Value="WI"},
                    new {Key="Wyoming", Value="WY"},
                    }, "Value", "Key"), htmlAttributes: new { @class = "form-control", @required = "required" })

                @Html.ValidationMessageFor(model => model.ProvinceOrState, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomePhone, "Home Phone #:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePhone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Home Phone Number" } })
                @Html.ValidationMessageFor(model => model.HomePhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomeCellPhone, "Home Cell #:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomeCellPhone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Home Cell Number" } })
                @Html.ValidationMessageFor(model => model.HomeCellPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkPhone, "Work Phone #:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkPhone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Work Phone Number" } })
                @Html.ValidationMessageFor(model => model.WorkPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkCellPhone, "Work Cell #:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkCellPhone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Work Cell Number" } })
                @Html.ValidationMessageFor(model => model.WorkCellPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmergencyContactName, "Emergency Contact Name:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmergencyContactName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Emergency Contact Name" } })
                @Html.ValidationMessageFor(model => model.EmergencyContactName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmergencyContactPhone, "Emergency Contact #:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmergencyContactPhone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Emergency Contact Number" } })
                @Html.ValidationMessageFor(model => model.EmergencyContactPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("Index")" class="btn btn-primary">Back To List</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
