@model IEnumerable<OzElectric_EmployeeManagement.Models.Employee>



@{
    ViewBag.Title = "Index";
    
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>            
            @Html.ActionLink("Employee Number", "Index", new { sortOrder = ViewBag.EmployeeNumberSortParm })
        </th>
        <th>
            @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FirstNameSortParm })               
        </th>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParm })
        </th>
        <th>
            @Html.ActionLink("Address", "Index", new { sortOrder = ViewBag.AddressSortParm })
        </th>
        <th>
            @Html.ActionLink("City", "Index", new { sortOrder = ViewBag.CitySortParm })
        </th>
        <th>
            @Html.ActionLink("Province/State", "Index", new { sortOrder = ViewBag.ProvinceOrStateSortParm })
        </th>
        <th>
            Home Phone #
        </th>
        <th>
            Home Cell #
        </th>
        <th>
            Work Phone #
        </th>
        <th>
            Work Cell #
        </th>
        <th>
            Emergency Contact Name
        </th>
        <th>
            Emergency Contact #
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvinceOrState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeCellPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkCellPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmergencyContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmergencyContactPhone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Details", "Details", new { id = item.EmployeeID }, new { @class = "btn btn-primary" })
            <a href="@Url.Action("Delete", new { id = item.EmployeeID})" class="btn btn-danger"><span class="fa fa-trash-o fa-lg" aria-hidden="true"></span></a>
        </td>
    </tr>
}

</table>
