@model IEnumerable<OzElectric_EmployeeManagement.Models.PM>

@{
    ViewBag.Title = "Index";
}

<h2>Project Managers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Address
        </th>
        <th>
            City
        </th>
        <th>
            Province
        </th>
        <th>
            Phone #
        </th>
        <th>
            Work Phone #
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Province)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkPhone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PMID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PMID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PMID })
        </td>
    </tr>
}

</table>
