@model IEnumerable<OzElectric_EmployeeManagement.Models.Purchaser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.PurchaserSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PurchaserID }, new { @class = "btn btn-warning" }) 
                @Html.ActionLink("Details", "Details", new { id = item.PurchaserID }, new { @class = "btn btn-primary" }) 
                <a href="@Url.Action("Delete",new { id = item.PurchaserID })" class="btn btn-danger"><span class="fa fa-trash-o fa-lg" aria-hidden="true"></span></a>
            </td>
        </tr>
    }

</table>
