@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Content/IMG/user8-128x128.jpg" @*src="@User.Identity.GetUserProfileImage()"*@ class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>@User.Identity.GetUserName() @*change to First name*@</p>

                <small>@User.Identity.GetUserName() @*change to Role or Email*@</small>
            </div>
        </div>
    }
}
else
{
    <div class="user-panel">
        <div class="pull-left image">
            <img src="~/Content/IMG/emptyprofile.jpg" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
            <p>Not Logged In</p>

            <a href="#"><i class="fa fa-circle text-success"></i> Offline</a>
        </div>
    </div>

    @*<ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>*@
}