@model IEnumerable<OzElectric_EmployeeManagement.Models.GenContractor>



@{
    ViewBag.Title = "General Contractors";

}
<hr />
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <a href="@Url.Action("Create")" class="btn btn-success">Create New <span class="fa fa-plus fa-lg" aria-hidden="true"></span></a>
            @if (HttpContext.Current.User.IsInRole("Admin"))
            {
                <a href="@Url.Action("ExportToCSV")" class="btn btn-primary">Export CSV <span class="fa fa-download fa-lg" aria-hidden="true"></span></a>

                <a href="@Url.Action("ExportToExcel")" class="btn btn-primary">Export Excel <span class="fa fa-download fa-lg" aria-hidden="true"></span></a>
            }
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">General Contractors</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.GenContractorID }, new { @class = "btn btn-warning" })
                                        @Html.ActionLink("Details", "Details", new { id = item.GenContractorID }, new { @class = "btn btn-primary" })
                                        <a href="@Url.Action("Delete", new { id = item.GenContractorID})" class="btn btn-danger"><span class="fa fa-trash-o fa-lg" aria-hidden="true"></span></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>

                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->