@model IEnumerable<OzElectric_EmployeeManagement.Models.HourRecord>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create", "HourRecords")" class="btn btn-primary">Track New Job</a>
</p>
<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HourRecordID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HourRecordID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HourRecordID })
        </td>
    </tr>
}

</table>
