@model IEnumerable<OzElectric_EmployeeManagement.Models.HourRecord>



@{
    ViewBag.Title = "Hour Tracking";

}

<hr />
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <a href="@Url.Action("Create")" class="btn btn-success">Create New <span class="fa fa-plus fa-lg" aria-hidden="true"></span></a>
            @if (HttpContext.Current.User.IsInRole("Admin"))
            {
                <a href="@Url.Action("ExportToCSV")" class="btn btn-primary">Export CSV <span class="fa fa-download fa-lg" aria-hidden="true"></span></a>

				<a href="@Url.Action("testingList")" class="btn btn-primary">TestingList <span class="fa fa-download fa-lg" aria-hidden="true"></span></a>


                <a href="@Url.Action("ExportToExcel")" class="btn btn-primary">Export Excel <span class="fa fa-download fa-lg" aria-hidden="true"></span></a>
            }
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Hour Tracking</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Hours</th>
                                <th>Comments</th>
                                <th>Employee</th>
                                <th>Job</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Hours)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Comment)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details", "Employees", new { id = item.Employee.EmployeeID })" class="Button">@Html.DisplayFor(modelItem => item.Employee.FirstName) @Html.DisplayFor(modelItem => item.Employee.LastName) </a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details", "Jobs", new { id = item.Job.JobID })" class="Button">@Html.DisplayFor(modelItem => item.Job.JobName)</a>
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.HourRecordID }, new { @class = "btn btn-warning" })
                                        @Html.ActionLink("Details", "Details", new { id = item.HourRecordID }, new { @class = "btn btn-primary" })
                                        <a href="@Url.Action("Delete", new { id = item.HourRecordID})" class="btn btn-danger"><span class="fa fa-trash-o fa-lg" aria-hidden="true"></span></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Date</th>
                                <th>Hours</th>
                                <th>Employee</th>
                                <th>Job</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>

                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->