@model IEnumerable<OzElectric_EmployeeManagement.Models.HourRecord>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create", "HourRecords")" class="btn btn-primary">Track New Job</a>
</p>



<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>            
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.ActionLink("Hours", "Index", new { sortOrder = ViewBag.HoursSortParm })            
        </th>
        <th>
            @Html.ActionLink("Job", "Index", new { sortOrder = ViewBag.JobSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hours)                       
        </td>
        <td>
            <a href="@Url.Action("Details", "Jobs", new { id = item.Job.JobID })" class="Button">@Html.DisplayFor(modelItem => item.Job.JobName)</a> 
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HourRecordID }, new { @class = "btn btn-warning" })
            <a href="@Url.Action("Delete",new { id = item.HourRecordID })" class="btn btn-danger"><span class="fa fa-trash-o fa-lg" aria-hidden="true"></span></a>
        </td>
    </tr>
}

</table>
